<ion-content>
  <ion-header>
    <div class="header-column">
      <ion-back-button class="icon-back" defaultHref="/professional-window"></ion-back-button>
    </div>
  </ion-header>
  <div class="perfil">
    <ion-card class="profile">
      <div class="img">
        <img class="person" src="https://img-profile.s3.sa-east-1.amazonaws.com/{{professionalSave.prestador?.imagemPerfil}}">
      </div>
      <div class="description">
        <div class="name">
          <p>{{professionalSave.prestador?.nome}}</p>
        </div>
        <div class="points">
          <p class="note">{{professionalSave.prestador?.nota}}/5<ion-icon name="star"></ion-icon></p>
        </div>
        <div class="ocupations">
          <p>{{professionalSave.prestador?.profissao}}</p>
        </div>
        <p style="margin-left: 3%;">Comentários:</p>
        <ion-card>
          <div class="avaliacoes" *ngFor="let avaliacao of professionalSave.avaliacoes?.content">
            <ion-card class="avaliacao">
              <ion-grid>
                <ion-col>
                    <ion-row class="comments">
                      <ion-img class="person-avaliation" src="assets/icon/person.png"></ion-img>
                      <h5>{{avaliacao.servico.cliente.nome}}</h5>
                      <p class="nota">{{avaliacao.notaAvaliacao}}/5</p><img class="star-icon-avaliation" src="/assets/icon/star.png" alt="">
                      <p class="descricao-avaliacao">{{avaliacao.descricao}}</p>
                    </ion-row>
                </ion-col>
              </ion-grid>
            </ion-card>
          </div>
        </ion-card>
        <div class="button">
          <button class="button-solicity" (click)="solicityService()">Agendar Serviços</button>
        </div>
        <div class="request-service" *ngIf="canShow">
          <div class="form-request-service">
            <form [formGroup]="schedule">
              <ion-col size="12">
                <p>Descrição do serviço:</p>
                <ion-textarea formControlName="descricao" class="descricao-service"></ion-textarea>
              </ion-col>
            <ion-datetime locale="pt-BR"formControlName="data"></ion-datetime>
            </form>
          </div>
          <div class="button">
            <button class="button-solicity" (click)="saveData()">Solicitar Serviço</button>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="navegate">
        <ion-col size="6" class="search-button" routerLink="/professional-window">
          <ion-icon name="search-outline" style="color: white; font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="6" class="perfil-button" routerLink="/screen-self-user">
          <ion-icon name="person-outline" style="color: white; font-size: 20px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>